//variables
$primary-color: #252323;
$secondary-color: #b6b6b6;
$tak: #1d1d1d;

$secondary-text-color: #e2e2e2;
$primary-text-color: #e2e2e2;


$najciemniejszy: #121212;
$bloki: #1f1f1f;
$tekst: #e1e1e1;
$wrazie: #bb86fc;
$bialy: #fff;